/*

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', sans-serif;

*/

/*General Stuff*/

#wrapper{
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
  color: #131511;
}

body{
  background-color: #F2F1E8;
}

h1{
  font-size: 32pt;
  text-align: center;
  font-weight: lighter;
}

h2{
  font-size: 18pt;
  font-weight: 100;
  text-align: center;
}

h3{
  font-size: 14pt;
  font-weight: 100;
}

/*Nav Bar Stuff*/

header{
  height: 80px;
  background-color: #FFFFFF;
}
#logo{
  position: absolute;
  width: 50px;
  padding: 15px;
}

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  color: #131511;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
}

.nav-button{
  margin: 30px;
}

/*Index Page Pictures Stuff*/

#top-row{
  display:flex;
  flex-wrap: nowrap; /*don't really need this*/
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  height: 300px;
}

#bottom-row{
  display:flex;
  flex-wrap: nowrap; /*don't really need this*/
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  height: 150px;
}

#top-row .product-li{
  background-size: cover;
  background-position: center;
  margin: 5px;
  border: 1px solid red;
  /*width: 300px;*/
}

#bottom-row .product-li{
  background-size: cover;
  background-position: center;
  margin: 5px;
  /*width: 200px;*/
}

#product1{
  flex-grow: 4;
  background: url(./images/product-1.jpg);
}
#product2{
  background: url(./images/product-2.jpg);
  flex-grow: 1;
}
#product3{
  background: url(./images/product-3.jpg);
  flex-grow: 1;
}

#product4{
  flex-grow: 1;
  background: url(./images/product-4.jpg);
}
#product5{
  background: url(./images/product-5.jpg);
  flex-grow: 1;
}
#product6{
  background: url(./images/product-6.jpg);
  flex-grow: 3;
}

#product7{
  background: url(./images/product-7.jpg);
  flex-grow: 1;
}

#top-row .content-box{
  background-color: #131511;
  color: white;
  display: inline-block;
  padding: 10px;
  position: absolute;
  margin-top: 230px;
}

#bottom-row .content-box{
  background-color: #131511;
  color: white;
  display: inline-block;
  padding: 10px;
  position: absolute;
  margin-top: 90px;
}

footer{
  height: 80px;
  background-color: #131511;
  padding-top: 10px;
}

footer p{
  font: inherit;
  color: white;
  margin: 30px;
}



/* Newsletter */

#newsletter-bg img{
  height: 100%;
  width: 100%;
}

/*#newsletter-bg{
  background: url(./images/background-2.jpg);
}*/
